node_modules/
www/vendor/
ios/App/Pods/
ios/App/build/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/DerivedData/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/google-services.json
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
*.keystore
.DS_Store
icons/
